body{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content:center;
    gap: 15px;
    background-color: #96031A;
    font-family:monospace;

}
img{
    width: 400px;
    height: 300px;
    border: 6px solid #1B1B1E;
    border-radius: 4px;
}

h1{
    color: #1B1B1E;
    font-family:monospace;
    font-size: 80px;
}

button{
    width: 200px;
    height: 40px;
    border: 4px solid #1B1B1E;
    border-radius: 4px;
    background-color: #FAA916;
    font-size: 20px;
    font-weight: bolder;
}

.scoresection{
    display: flex;
    gap: 200px;
}

.compScore, .playerScore, .resultSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#playerScoreText, #compScoreText, #resultSectionText{
    font-weight: bolder;
    border: 2px solid black;
    width: 110px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #FAA916;
}

#compScoreText{
    width: 120px;
}

button:hover{
    background-color: white;
}

#playerScoreNum, #compScoreNum{
    font-size: 20px;
}

#centerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}